/*Linked CSS for landing page*/

/*Added Box Size reset*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Added Background image working on responsive cover*/
body {
/*Added height 100vh to keep sizing on shrink*/
	height: 100vh;
	background-image: url('chuttersnap-381963.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	font-family: 'Helvetica', 'Arial', sans-serif;

}


/*h1 styling needs work*/
span {
	color: white;
}

.white {
	color: white;
}

.white {
	color: white;
}

.btn-group-vertical {
	margin-top: 10vh;
}

.btn-danger {
	margin-top: 5vh;
}

