/*Linked CSS */
/*Checked and Working!*/


/*Setting the body text alignment*/
body {
	text-align: center;
}

/*Setting up media query for tablet, background goes to white on tablet size*/
@media only screen and (min-width: 768px) {
	body {
		background: yellow;
	}
}

.container {
	width: 100vw;
	height: 100vh;
}

.banner {
	background: black;
	color: white;

}

/*Bottom racer moved down*/
#botRacer {
	margin-top: 20vh;
}

/*Moved styling for P1*/
#p1 {
	height: 5vh;
	width: 5vw;
	background: red;
	position: absolute;
}

/*Moved styling for P2*/
#p2 {
	height: 5vh;
	width: 5vw;
	background: blue;
	position: absolute;
}

