/*Linked CSS */
/*Checked and Working!*/

body {
	text-align: center;
}

/*Setting up media query for tablet, background goes to white on tablet size*/
@media only screen and (min-width: 768px) {
	body {
		background: yellow;
	}
}


/*Top racer racetrck added*/
#topRacer {
	margin-top: 20vh;
	background: black;
}

/*Bottom racer racetrack added*/
#botRacer {
	margin-top: 20vh;
	background: black;
}

/*Moved styling for P1*/
#p1 {
	height: 5vh;
	width: 5vw;
	background: red;
}

/*Moved styling for P2*/
#p2 {
	height: 5vh;
	width: 5vw;
	background: blue;
}

