/*Linked CSS */
/*Checked and Working!*/

body {
	text-align: center;
}


/*Top racer racetrck added*/
#topRacer {
	margin-top: 20vh;
	background: grey;
}

/*Bottom racer racetrack added*/
#botRacer {
	margin-top: 20vh;
	background: grey;
}

/*Moved styling for P1*/
#p1 {
	height: 5vh;
	width: 5vw;
	background: red;
}

/*Moved styling for P2*/
#p2 {
	height: 5vh;
	width: 5vw;
	background: blue;
}